@import "player.css";
@import "cards.css";
@import "chips.css";
@import "buttons.css";
@import "general_info.css";
@import "info_shortcuts.css";
@import "premoves.css";
@import "inputs.css";
@import "chat.css";
@import "tabs.css";
@import "table.css";
@import "main.css";