.button{
    background: #ffffa8;
    border-style: solid;
    border-color: #ece260;
    border-width: 2px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.button:hover{
    background: #ece260;
}

/* small buttons used in plus, minus, pot, all-in buttons */
.small_button{
    width: 30px;
}

/* button 1 in replay mode */
.b1{
    margin-left: 460px;
    margin-top: 10px;
}

/* button 2 in replay mode */
.b2{
    margin-left: 460px;
    margin-top: 35px;
}

/* button 3 in replay mode */
.b3{
    margin-left: 460px;
    margin-top: 60px;
}

/* button 4 in replay mode */
.b4{
    margin-left: 620px;
    margin-top: 10px;
}

/* button 5 in replay mode */
.b5{
    margin-left: 662px;
    margin-top: 10px;
}

/* button 6 in replay mode */
.b6{
    margin-left: 706px;
    margin-top: 10px;
}

/* button 7 in replay mode */
.b7{
    margin-left: 748px;
    margin-top: 10px;
}

/* button 8 in replay mode */
.b8{
    margin-left: 620px;
    margin-top: 35px;
}

/* minus button on bottom right */
.minus_button{
    margin-left: 780px;
    margin-top: -40px;
}

/* plus button on bottom right */
.plus_button{
    margin-left: 820px;
    margin-top: -40px;
}

/* pot button on bottom right */
.pot_button{
    margin-left: 860px;
    margin-top: -40px;
}

/* all in button on bottom right */
.all_in_button{
    margin-left: 900px;
    margin-top: -40px;
}

/* raise button on bottom right */
.raise_button{
    margin-left: 780px;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* call button on bottom right */
.call_button{
    margin-left: 620px;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* fold button on bottom right */
.fold_button{
    margin-left: 460px;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* tournament info button on bottom left */
.tournament_info_button{
    margin-left: 65px;
    margin-top: 10px;
}

/* last hand info button on bottom left */
.last_hand_info_button{
    margin-left: 65px;
    margin-top: 35px;
}

/* exit button on bottom left */
.exit_button{
    margin-left: 65px;
    margin-top: 60px;
}