/* small info with button Ok */
.general_info{
    width: 450px;
    height: 20px;
    position: absolute;
    margin-top: -254px;
    margin-left: 150px;
    background: #ffffa8;
    border-style: solid;
    border-color: #ece260;
    border-width: 2px;
    z-index: 1;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 86%;
    text-align: center;
    padding: 5px;
}

/* small Ok button in small general info window */
.in_general{
    width: 80px;
    padding-left: 3px;
    padding-right: 3px;
}

/* position of first button in general info window */
.g1{
    margin-left: 10px;
}

/* position of second button in general info button if there is more than one button */
.g2{
    margin-left: 110px;
}