/* represents player info in 3 rows of text */
#players > *{
    width: 100px;
    height: 52px;
    background: white;
    border: 2px solid #000000;
    text-align: center;
    overflow: hidden;
    position: absolute;
    cursor: default;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 86%;
}

/* means player in decision now */
#players[data-think='1'] > #p1,
#players[data-think='2'] > #p2,
#players[data-think='3'] > #p3,
#players[data-think='4'] > #p4,
#players[data-think='5'] > #p5,
#players[data-think='6'] > #p6,
#players[data-think='7'] > #p7,
#players[data-think='8'] > #p8,
#players[data-think='9'] > #p9 {
    background: #ece260;
}

/* means player is disconnected*/
.is_disconnected{
    background: darkgrey;
}

.player:hover{
    background: #ffc7a1;
}

/* player 1 offsets */
#p1{
    margin: 2px 0 0 230px;
}

/* player 2 offsets */
#p2{
    margin: -116px 0 0 -50px;
}

/* player 3 offsets */
#p3{
    margin: -236px 0 0 -50px;
}

/* player 4 offsets */
#p4{
    margin: -356px 0 0 -50px;
}

/* player 5 offsets */
#p5{
    margin: -466px 0 0 50px;
}

/* player 6 offsets */
#p6{
    margin: -466px 0 0 400px;
}

/* player 7 offsets */
#p7{
    margin: -356px 0 0 730px;
}

/* player 8 offsets */
#p8{
    margin: -236px 0 0 730px;
}

/* player 9 offsets */
#p9{
    margin: -116px 0 0 730px;
}
