@import "player.css";
@import "cards.css";
@import "chips.css";
@import "chat.css";

body{
    background: url(/img/bg.png);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: auto;
    width: 1125px;
    height: 400px;
}

.main{
    margin: auto;
    margin-top: 100px;
    width: 784px;
    height: 400px;
}

input[type=range]{
    -webkit-appearance: none;
    width: 150px;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    position: absolute;
    margin-left: 780px;
    margin-top: 15px;
}

input[type=range]:focus{
    outline: none;
}

table{
    border-collapse: collapse;
}

td{
    padding-right: 8px;
}


/* info tab */
.info{
    width: 650px;
    height: 390px; 
    position: absolute; 
    margin-top: -404px;
    margin-left: 60px; 
    background: #ffffa8;
    border-style: solid;
    border-color: #ece260;
    border-width: 2px;
    z-index: 1;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 86%;
    text-align: center;
    overflow: hidden;
    padding: 5px;
}

/* small info with button Ok */
.general_info{
    width: 450px;
    height: 20px; 
    position: absolute; 
    margin-top: -254px;
    margin-left: 150px; 
    background: #ffffa8;
    border-style: solid;
    border-color: #ece260;
    border-width: 2px;
    z-index: 1;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 86%;
    text-align: center;
    padding: 5px;
}

/* table with top players */
#top_players_info{
    text-align: left;
    margin: auto;
}

/* all opened cards with best 5 cards in last hand info */
#cards_reveal{
    margin: auto;
    margin-top: 10px;
}

.hidden{
    display: none;
}

.button{
    background: #ffffa8;
    border-style: solid;
    border-color: #ece260;
    border-width: 2px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.button:hover{
    background: #ece260;
}

/* small buttons used in plus, minus, pot, all-in buttons */
.small_button{
    width: 30px;
}

/* small Ok button in small general info window */
.in_general{
    width: 80px;
    padding-left: 3px;
    padding-right: 3px;
}

/* position of first button in general info window */
.g1{
    margin-left: 10px;
}

/* position of second button in general info button if there is more than one button */
.g2{
    margin-left: 110px;
}

/* represents premove checkbox */
.premove{
    position: absolute;
    z-index: -1;
}

/* first premove checkbox on bottom right. Usually Fold or Check/Fold */
.premove1{
    margin-top: 45px;
    margin-left: 470px;
}

/* second premove checkbox on bottom right. Usually Check or Call */
.premove2{
    margin-top: 45px;
    margin-left: 630px;
}

/* second premove checkbox on bottom right. Usually Call any*/
.premove3{
    margin-top: 45px;
    margin-left: 790px;
}

/* button 1 in replay mode */
.b1{
    margin-left: 460px;
    margin-top: 10px;
}

/* button 2 in replay mode */
.b2{
    margin-left: 460px;
    margin-top: 35px;
}

/* button 3 in replay mode */
.b3{
    margin-left: 460px;
    margin-top: 60px;
}

/* button 4 in replay mode */
.b4{
    margin-left: 620px;
    margin-top: 10px;
}

/* button 5 in replay mode */
.b5{
    margin-left: 662px;
    margin-top: 10px;
}

/* button 6 in replay mode */
.b6{
    margin-left: 706px;
    margin-top: 10px;
}

/* button 7 in replay mode */
.b7{
    margin-left: 748px;
    margin-top: 10px;
}

/* button 8 in replay mode */
.b8{
    margin-left: 620px;
    margin-top: 35px;
}

/* minus button on bottom right */
.minus_button{
    margin-left: 780px;
    margin-top: -40px;
}

/* plus button on bottom right */
.plus_button{
    margin-left: 820px;
    margin-top: -40px;
}

/* pot button on bottom right */
.pot_button{
    margin-left: 860px;
    margin-top: -40px;
}

/* all in button on bottom right */
.all_in_button{
    margin-left: 900px;
    margin-top: -40px;
}

/* raise button on bottom right */
.raise_button{
    margin-left: 780px;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* call button on bottom right */
.call_button{
    margin-left: 620px;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* fold button on bottom right */
.fold_button{
    margin-left: 460px;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* tournament info button on bottom left */
.tournament_info_button{
    margin-left: 65px;
    margin-top: 10px;
}

/* last hand info button on bottom left */
.last_hand_info_button{
    margin-left: 65px;
    margin-top: 35px;
}

/* exit button on bottom left */
.exit_button{
    margin-left: 65px;
    margin-top: 60px;
}

/* player can input number of raise in this input */
.input_button{
    background: white;
    border-style: solid;
    border-color: #ece260;
    border-width: 2px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    margin-left: 780px;
    margin-top: -15px;
}

/* for text input in chat */
.chat_input{
    margin-left: -160px;
    margin-top: 60px;
    width: 214px;
}

/* table background */
.table{
    background: url(/img/poker/poker_table.png);
    width: 784px;
    height: 400px;
}

/* represents current table number on the top left of the screen */
.table_num{
    margin-top: -486px;
    margin-left: -150px;
    height: 20px;
    border-color: #ece260;
    width: 180px;
}

/* represents current hand number on the top left of the screen */
.hand_num{
    margin-top: -456px;
    margin-left: -150px;
    height: 20px;
    border-color: #ece260;
    width: 180px;
}

/* represents current place of player or total players left on the top left of the screen */
.place_num{
    margin-top: -426px;
    margin-left: -150px;
    height: 20px;
    border-color: #ece260;
    width: 180px;
}

/* big blind info on the top right of the screen */
.big_blind_shortcut{
    margin-top: -486px;
    height: 20px;
    border-color: #ece260;
    margin-left: 700px;
    width: 180px;
}

/* small blind info on the top right of the screen */
.small_blind_shortcut{
    margin-top: -456px;
    height: 20px;
    border-color: #ece260;
    margin-left: 700px;
    width: 180px;
}

/* ante info on the top right of the screen */
.ante_shortcut{
    margin-top: -426px;
    height: 20px;
    border-color: #ece260;
    margin-left: 700px;
    width: 180px;
}

/* small info about money in pot */
.pot_info{
    margin-top: -348px;
    margin-left: 335px;
    height: 40px;
    border-color: #ece260;
}

