table{
    border-collapse: collapse;
}

td{
    padding-right: 8px;
}

/* general tabs style */
#tabs{
    width: 660px;
    height: 400px;
    position: absolute;
    margin-top: -404px;
    margin-left: 60px;
    z-index: 1;
    border: 2px solid #f1e6ba;
    background: #fff5cc;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 86%;
    text-align: center;
    overflow: hidden;
}

#menu{
    height: 40px;
    border-bottom: #ea7d7d solid 2px;
}

.menu_item{
    width: 25%;
    height: 100%;
    float: left;
    line-height: 35px;
    vertical-align: middle;
}

.menu_item:hover{
    background: #ea7d7d;
}

.menu_item + .menu_item {
    box-shadow: inset 2px 0 0 0 #e17d7d;
}

/* table with top players */
#top_players_info{
    text-align: left;
    margin: auto;
}

/* all opened cards with best 5 cards in last hand info */
#cards_reveal{
    margin: auto;
    margin-top: 10px;
}

[data-active=tournament_info] #menu_info,
[data-active=last_hand_info] #menu_last,
[data-active=players_info] #menu_players,
[data-active=settings] #menu_settings {
    background: #ea7d7d;
}
