table{
    border-collapse: collapse;
}

td{
    padding-right: 8px;
}

/* general tabs style */
#tabs{
    width: 660px;
    height: 400px;
    position: absolute;
    margin-top: -404px;
    margin-left: 60px;
    z-index: 1;
    border: 2px solid #f1e6ba;
    background: #fff5cc;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 86%;
    text-align: center;
    overflow: hidden;
}

/* table with top players */
#top_players_info{
    text-align: left;
    margin: auto;
}

/* all opened cards with best 5 cards in last hand info */
#cards_reveal{
    margin: auto;
    margin-top: 10px;
}
