#eventfield{
    border: dashed 3px black;
    width: 96%;
    height: 620px;
    margin-bottom: 10px;
}

#changecolors{
    margin-right: 18%;
}

#displaydiv{
    transition: background-color 0.5s ease;
}

#VA{
     transition: color 0.5s ease;
}

#IE{
    transition: color 0.5s ease;
}

#bar{
    transition: color 0.5s ease;
}
#id01{
    z-index: 3000;
}
#eventfield{
    overflow-y:scroll;
    text-align: left;
}

.black{
    background-color: #292929;
}

.filtercheck{
    margin-left: 8px;
    width: 64px;
    height: 64px;
}

.filterMain{
    width: 64px;
    height: 64px;
}

.checkboxes {
    font-size: large;
    color: #ffffff;
    background: #a0a0a0;
    border-radius: 5px;
    margin-left: 3px;
    padding: 4px;
}

body, input, button {
    transition: background-color 0.5s, color 0.5s;
}

body{
    background-color: white;
}

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}